{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Профайл пользователя {{ username }}{% endblock %}
{% block content %}
        <h1>Все посты пользователя {{ username }}</h1>
        <h3>Всего постов: {{ post_user.count }} </h3>
        <div class="container py-5">
        <article>
            <ul>
            <li>
                 {% for post in post_one %}
                  Автор: {{ post.author.get_full_name }}
                <a href="{% url 'post_app:profile' post.author%}">все посты пользователя</a>
                </li>
            <li>
              Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
          </ul>
                     {% thumbnail post.image "100x100" crop="center" upscale=True as im %}
                <img class="card-img my-2" src="{{ im.url }}">
             {% endthumbnail %}
            <p>
                {{post.text}}
            </p>
            <a href="{% url 'post_app:post_detail' post.id %}">подробная информация </a>
            {% endfor %}
        </article>

            {% for post in post_one %}
            {% if post.group %}
             <a href="{% url 'post_app:post_group' post.group.slug %}">все записи группы</a>
            {% endif %}
            {% endfor %}
            <hr>
        <p>
          {% for post in page_obj %}
            <p>{{ post.text }}</p>
         {% if not forloop.last %}<hr>{% endif %}
          {% endfor %}
        </p>
        {% include 'post/includes/paginator.html' %}
      </div>
{% endblock %}